

@{
    ViewData["Title"] = "Details";
}
@if (ViewBag.addMessage != null)
{
    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.addMessage)</p>
    if (ViewBag.Error != null)
    {
        <ul>
            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
            {
                <li class="alert-danger">@(e.Message)</li>
            }
        </ul>
    }
}
<h1>Details</h1>
@if (ViewBag.bookDetails != null)
{
    Book book = ViewBag.bookDetails;


    <p> The Book "@(book.Title)" is written by "@(book.Author.Name)" and was published on @(book.PublicationDate.ToLongDateString()).</p>

    @if (book.Borrows.Any())
    {
        <p>
            You checked out @(book.Title) on @(((DateTime)book.Borrows.Last().CheckedOutDate).ToLongDateString()), and the due date is @(((DateTime)book.Borrows.Last().DueDate).ToLongDateString()).
        </p>
        <p>
            Returned date is: @((book.Borrows.Last().ReturnedDate == null ? "Not Returned" : ((DateTime)book.Borrows.Last().ReturnedDate).ToLongDateString())).
        </p>
        <p>
            Extensions Granted: @(book.Borrows.Last().ExtensionCount)
        </p>

        <a class="btn btn-success" href="/Book/Details?id=@(book.ID)&op=return">Return Book</a>

        <a class="btn btn-primary" href="/Book/Details?id=@(book.ID)&op=extend">Extend Due Date</a>
    }
    else
    {
        <p>This book has never been checked out!</p>
    }
    <a class="btn btn-danger" href="/Book/Details?id=@(book.ID)&op=delete">Delete Book</a>
    

    @if (!book.Borrows.Any() || book.Borrows.Last().ReturnedDate != null)
    {
        <a class="btn btn-primary" href="/Book/Details?id=@(book.ID)&op=borrow">Borrow</a>
    }

}
@if (ViewBag.errorMessage != null)
{
    @(ViewBag.errorMessage)
}

